

body{
    background-image: url("../assets/snow4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey ; 
    height: 100%;
    overflow: scroll;
    text-align: left;
    background-position-y: 20%;
}


#myCanvas{
    float: right; 
    text-align: left;
     
    padding: 10px;
    background-color: #131313;
    margin: 50px 50px 50px 50px;
    
   
   
}

#myDisplay{
    vertical-align: top;
    background: rgba(25, 25, 25, .5);
    color: white;
    padding: 20px 20px 60px 20px;

}

.button{
    width: 70px;
    height: 70px;
    padding: 7px;
    
    border-radius: 20px;
    border: 2px #131313;
    box-shadow: 0 9px #999;
    background-color: lightskyblue;
    
    margin: 10px;
}

.button:active {
  background-color: cornflowerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1{
   font-family: 'open sans',arial,sans-serif;
  font-size: 50px;
  padding: 60px 50px;
  text-align: center;
  text-transform: uppercase;
  
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: 10px;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
}

#myArea
{
    margin: 20px 40px 30px 20px;
    padding: 30px 80px;
    width: 800px; 
    height: 200px; 
    outline: 1px solid; 
    background-color: highlighttext ;
}
